[2015-03-21 16:16] aseaday opened #2 "ubuntu compiler problem"
When I compile it on Ubuntu 14.04 Machine, It met a problem:
[code]
I do the following Jobs:
[code]
and it work well.

[2015-05-03 18:14] n3npq opened #4 "Patch to build with LINUX_VERSION_CODE >= KERNEL_VERSION(3, 19, 0)"
Original patch from PLD is here
    https://www.mail-archive.com/pld-cvs-commit@lists.pld-linux.org/msg362857.html)

[code]

[2015-11-25 12:00] aniruddha-a opened #6 "Is NV define/create/write supported ?"
Hello,

From the code, I can see that there is `tpm_nv_storage.c`, and the `TPM_NV_*` operations seem to be defined. When I tried to run `tpm_nvinfo` (from the `tpm-tools` package), I do not see any output - is this expected, or am I missing something ?
I see that the following on the `tpmd` log (when run in _foreground_ mode [`-f`])

    tpmd.c:352: Debug: received 18 bytes
    tpm_cmd_handler.c:

[2015-11-25 12:09] aniruddha-a commented on #6
Sorry! I think I raised an issue too soon! after some fiddling, I found that I had to enable the _owner password_ on the command line!

    tpm_nvdefine -l debug  -i 10 -s 10  -p 'OWNERREAD|OWNERWRITE' --pwdo
    Enter owner password: ****

Seems to work!

[2015-11-27 06:26] aniruddha-a commented on #6
This turned out to be an issue with the version of `tpm-tools` that I was using! moving to a newer version helped.

[2015-11-27 06:26] #6 closed

[2016-03-27 16:09] scanfsc opened #7 "tranpannt emulator on a board based on ARMv7"
I want to tranpannt it on a board based on ARMv7. But i face some diffculty in compiling the module **tpmd_dev** . It require linux-headers ，but i can't install is on my board.
Did anyone ever meet problems like this before?

[2016-05-24 05:16] Melab opened #8 "TPM emulator won't create data"
In the `/var/log/syslog` file, I keep on getting `tpm_startup.c:87: Error: restoring permanent data failed` and no `/var/lib/tpm/tpm_emulator-1_2_0_7` file gets created.

[2016-05-28 09:23] PeterHuewe commented on #7
hmm, maybe try to compile it in a qemu based environment and then transfer?

[2016-05-28 09:54] PeterHuewe commented on #4
Thanks got merged.

[2016-05-28 09:54] #4 closed

[2016-05-28 09:55] PeterHuewe commented on #2
Added a fix just now

[2016-05-28 09:55] #2 closed

[2016-05-28 09:58] PeterHuewe commented on #8
Hi,
the message appears when you try to issue a TPM_Startup(ST_STATE) instead of a TPM_Startup(Clear) - for ST_STATE you need a previous save state

[2016-06-17 06:52] zfyseu opened #10 "/lib/modules/4.2.3-300.fc23.i686/build: No such file or directory."
Hello everyone!
I tried to install tpm emulator on Fedora 23.
When I do "make", it returns with the error:"/lib/modules/4.2.3-300.fc23.i686/build: No such file or directory."
How to solve the problem?
Thank you!

[2016-06-17 08:05] zfyseu commented on #10
I have solve the problem above by running the following command:
"dnf install kernel-devel-$(uname -r)"
But when I do "make",it return with other errors:
`[ 96%] Generating linux/tpmd_dev.ko
Makefile:605: arch//Makefile: No such file or directory
make[4]: *** No rule to make target 'arch//Makefile'.  Stop.
Makefile:20: recipe for target 'all' failed
make[3]: *** [all] Error 2
tpmd_dev/CMakeFiles/t

[2016-06-20 07:44] zfyseu commented on #7
Hello, scanfsc!
I also want to transplant it on Raspberry Pi which is based on ARMv7.
Have you done it successfully?

[2016-06-20 14:53] PeterHuewe commented on #7
Hi I don't see why this should not work.
I think I tried it once.
Peter

Am 20. Juni 2016 00:44:26 GMT-07:00, schrieb zfyseu <notifications@github.com>:

--
Sent from my mobile

[2016-06-20 15:03] golubevmikhail commented on #7
Hi! I've cross compiled tmp dev to my beagle bone black. Works fine.
Mike.
20 июня 2016 г. 17:53 пользователь "Peter Huewe" <notifications@github.com>
написал:

[2016-06-22 01:44] zfyseu commented on #7
Hello,everyone!
When I make tpm emulator on Fedora 23, it return with some errors:
`[ 96%] Generating linux/tpmd_dev.ko
/home/zfyseu/tpm-emulator-master/build/tpmd_dev/linux/tpmd_dev.c: In function ‘tpmd_handle_command’:
/home/zfyseu/tpm-emulator-master/build/tpmd_dev/linux/tpmd_dev.c:111:6: error: ‘struct msghdr’ has no member named ‘msg_iov’
   msg.msg_iov = &iov;
      ^
/home/zfyseu/tpm-emulat

[2016-06-22 03:48] PeterHuewe commented on #7
Hi,
which kernel version are you using?
Which version of the tpm emulator?

Thanks
Peter

Am 21. Juni 2016 18:44:36 GMT-07:00, schrieb zfyseu <notifications@github.com>:

--
Sent from my mobile

[2016-06-22 05:17] PeterHuewe commented on #10
are you sure you running the latest code?

[2016-06-22 05:25] PeterHuewe commented on #7
The code should be there... this should not happen.
Please use latest master:

#if LINUX_VERSION_CODE < KERNEL_VERSION(3,19,0)
  msg.msg_iov = &iov;
  msg.msg_iovlen = 1;
#else
  iov_iter_init(&msg.msg_iter, WRITE, &iov, 1, 1);
#endif

[2016-06-22 05:26] PeterHuewe commented on #8
can we close this ?

[2016-06-22 06:28] zfyseu commented on #10
Thank you, PeterHuewe!
There are no problems by using the lastest code.

[2016-06-22 06:28] #10 closed

[2016-06-22 06:29] zfyseu commented on #10
But I still have to add "export ARCH=x86" to the Makefile.

[2016-06-22 07:29] zfyseu commented on #7
Thank you!
The problem is solved.
And I want to build the code on ARM7 wich also use fedora 23.
How should I do ?

[2016-06-22 07:35] PeterHuewe commented on #7
Easiest is to compile it directly on your arm board. Set ARCH accordingly
Peter

Am 22. Juni 2016 00:29:54 GMT-07:00, schrieb zfyseu <notifications@github.com>:

--
Sent from my mobile

[2016-06-22 08:47] zfyseu commented on #7
Hello PeterHuewe!
When I build the code on ARM7, it return with the following error:
[ 96%] Generating linux/tpmd_dev.ko
make[4]: *** /lib/modules/4.2.5-400.50acac3.bcm2709.fc23.armv7hl/build: No such file or directory.  Stop.
Makefile:22: recipe for target 'all' failed
make[3]: *** [all] Error 2
tpmd_dev/CMakeFiles/tpmd_dev.dir/build.make:62: recipe for target 'tpmd_dev/linux/tpmd_dev.ko' failed

[2016-06-22 08:47] zfyseu commented on #7
Hello PeterHuewe!
When I build the code on ARM7, it return with the following error:
[ 96%] Generating linux/tpmd_dev.ko
make[4]: *** /lib/modules/4.2.5-400.50acac3.bcm2709.fc23.armv7hl/build: No such file or directory.  Stop.
Makefile:22: recipe for target 'all' failed
make[3]: *** [all] Error 2
tpmd_dev/CMakeFiles/tpmd_dev.dir/build.make:62: recipe for target 'tpmd_dev/linux/tpmd_dev.ko' failed

[2016-06-22 08:51] zfyseu commented on #7
Hello PeterHuewe!
When I build the code on ARM7, it return with the following error:
[ 96%] Generating linux/tpmd_dev.ko
make[4]: *** /lib/modules/4.2.5-400.50acac3.bcm2709.fc23.armv7hl/build: No such file or directory.  Stop.
Makefile:22: recipe for target 'all' failed
make[3]: *** [all] Error 2
tpmd_dev/CMakeFiles/tpmd_dev.dir/build.make:62: recipe for target 'tpmd_dev/linux/tpmd_dev.ko' failed

[2016-06-22 08:51] zfyseu commented on #7
Hello PeterHuewe!
When I build the code on ARM7, it return with the following error:
[ 96%] Generating linux/tpmd_dev.ko
make[4]: *** /lib/modules/4.2.5-400.50acac3.bcm2709.fc23.armv7hl/build: No such file or directory.  Stop.
Makefile:22: recipe for target 'all' failed
make[3]: *** [all] Error 2
tpmd_dev/CMakeFiles/tpmd_dev.dir/build.make:62: recipe for target 'tpmd_dev/linux/tpmd_dev.ko' failed

[2016-06-22 08:51] zfyseu commented on #7
Hello PeterHuewe!
When I build the code on ARM7, it return with the following error:
[ 96%] Generating linux/tpmd_dev.ko
make[4]: *** /lib/modules/4.2.5-400.50acac3.bcm2709.fc23.armv7hl/build: No such file or directory.  Stop.
Makefile:22: recipe for target 'all' failed
make[3]: *** [all] Error 2
tpmd_dev/CMakeFiles/tpmd_dev.dir/build.make:62: recipe for target 'tpmd_dev/linux/tpmd_dev.ko' failed

[2016-06-22 08:51] zfyseu commented on #7
Hello PeterHuewe!
When I build the code on ARM7, it return with the following error:
[ 96%] Generating linux/tpmd_dev.ko
make[4]: *** /lib/modules/4.2.5-400.50acac3.bcm2709.fc23.armv7hl/build: No such file or directory.  Stop.
Makefile:22: recipe for target 'all' failed
make[3]: *** [all] Error 2
tpmd_dev/CMakeFiles/tpmd_dev.dir/build.make:62: recipe for target 'tpmd_dev/linux/tpmd_dev.ko' failed

[2016-06-23 06:29] zfyseu commented on #7
Hello,everyone!
I have solved the problem.
first, do "dnf update" then do "dnf install kernel-devel" and then reboot.
And the problem will be solved.

[2016-06-30 22:03] Melab commented on #8
Yes.

[2016-06-30 22:03] #8 closed

[2016-06-30 22:07] Melab opened #11 "Cannot set presence"
I've got it to create the data and I've taken ownership of it, but now `tpm_setpresence` doesn't work. Trying any of the options related to modifying the presence returns `Tspi_TPM_SetStatus failed: 0x00002006 - layer=tcs, code=0006 (6), Not enabled`.

[2016-08-11 08:44] #7 closed

[2016-08-11 08:44] PeterHuewe commented on #11
Hi
are you sure it's an emulator problem?
Can you send the raw set physical presence bytes maybe?
Thanks,
Pete

[2016-08-24 12:29] aschmelter opened #13 "make install fails"
Hi,

I try to install the tpm-emulator (v 0.7.4) on Ubuntu 16.04 32 bit, kernel 4.4.0 - 31.

After installing the dependencies the make process works fine. But when I try to "make install" I get the following error:

/Downloads/tpm-emulator-master/build$ sudo make install
[ 52%] Built target tpm
[ 73%] Built target mtm
[ 84%] Built target tpm_crypto
[ 87%] Built target tddl_static
[ 91%] Built tar

[2016-08-24 15:54] PeterHuewe commented on #13
Hi Andreas,
the message is related to the signing process of the linux kernel, since module signing is enabled by default in ubuntu.

It's not that trivial to explain here, so unfortunately you have to google a bit on "ubuntu module signing" .
You can find a lot of similar questions if you search for "sign-file: certs/signing_key.pem: No such file or directory"

So this is unrelated to the tpm-emu

[2016-08-25 13:24] aschmelter commented on #13
Thank you very much, the TPM is working.  I can see the device /dev/tpm0. If I can find something about the signing problem I will post it here.

But when I use tpmj, I get a file not found exception.

**BasicTPMDriver: TPMIOException encountered. (edu.mit.csail.tpmj.TPMIOException: java.io.FileNotFoundException: /dev/tpm0 (Permission denied))
Waiting 2.0 s, then retrying ...**

It is independent

[2016-08-25 13:26] PeterHuewe commented on #13
Hi,
is maybe tcsd running?
Only one application can access the /dev/tpm0 at a time.
Peter

Am 25. August 2016 09:24:43 GMT-04:00, schrieb Andreas <notifications@github.com>:

--
Sent from my mobile

[2016-08-29 09:58] daytonpid opened #14 "make fails on latest kernel"
Seems that `sock_recvmsg` has changed in the latest kernel and has removed space for a argument, I tried just appending `tpm_response.size` instead of `tpm_response.size, 0` and the build succeeded.

But this probably is not the proper fix as tcsd throws a `tpmd_dev.c:146: Error sock_recvmsg failed`.

See the attached photo

![tpm-emulator-error](https://cloud.githubusercontent.com/assets/5340801/

[2016-08-29 12:47] daytonpid commented on #14
Seems that it does not care about the len anymore and just flags, which are zero correct?

[2016-08-29 15:04] PeterHuewe commented on #14
Hi
I will look into it.
Which kernel version are you using?
Peter

Am 29. August 2016 05:47:54 GMT-07:00, schrieb Dayton Pidhirney <notifications@github.com>:

--
Sent from my mobile

[2016-08-29 15:10] daytonpid commented on #14
The latest stable: `4.7.2`. Thanks Peter.

[2016-08-29 16:21] PeterHuewe commented on #14
Okay, thanks for the information.
I have 4.7.0 here that's why I'm a bit confused.

Will look into it though
Peter

Am 29. August 2016 08:10:32 GMT-07:00, schrieb Dayton Pidhirney <notifications@github.com>:

--
Sent from my mobile

[2016-08-30 08:46] daytonpid commented on #14
https://github.com/torvalds/linux/commit/2da62906b1e298695e1bb725927041cd59942c98

[2016-09-12 19:56] daytonpid commented on #14
Hi Peter,

Any update on this? Or could you just let me know what needs to be changed so I can do it?

Thanks,

Dayton

[2016-10-05 20:38] PeterHuewe commented on #14
Hi Dayton,

I just tried it and you are correct - it does not compile on latest kernels and it seems there is more to it than just removing the size parameter (since it was mainly removed since the value of the size parameter could be retrieved elsewhere).

I will have to look a bit deeper into it :/

[2016-10-05 20:39] PeterHuewe commented on #13
@aschmelter Any updates on your side?

[2016-10-05 20:51] daytonpid commented on #14
Hi Peter,

I would have tried to fix it myself and send a pull request, but unfortunately I'm not experienced enough with C.

Thank you for looking into this, let me know if you need a tester 😄

[2016-10-05 21:05] PeterHuewe commented on #14
@aorimn: do you have time for a deeper look into that?

[2016-10-05 21:15] PeterHuewe commented on #14
That one SHOULD be correct, but I couldn't get it to work though
[test.txt](https://github.com/PeterHuewe/tpm-emulator/files/512345/test.txt)

[2016-10-07 19:35] Aorimn commented on #14
This patch with the latest Fedora 24 kernel at the moment (4.7.5-200.fc24.x86_64) is fixing the build.
I'm not sure if it works though, the [TPM/J](https://sourceforge.net/projects/tpmj/) class isn't working (independantly of tpm-emulator) and I have nothing to test it right now.

[2016-10-13 02:25] daytonpid commented on #14
@Aorimn I will test shortly and let you know. Thanks

[2016-11-06 10:30] Artosach opened #16 "Make fails on MacOS"
Hi,

I try to install the tpm-emulator (v 0.7.4) on MacOS Sierra

After installing the dependencies the make process fails at 75% ... as shown bellow:

[ 75%] Building C object crypto/CMakeFiles/tpm_crypto.dir/rsa.o
/tpm_emulator-0.7.4/crypto/rsa.c:56:13: error: address of
      array 'key->p' will always evaluate to 'true'
      [-Werror,-Wpointer-bool-conversion]
  if (!key->p || !key->q || !key

[2016-11-06 10:44] PeterHuewe commented on #16
Hi,
probably you have -Werror in your CFLAGS, so you can unset them by
export CFLAGS="-Wnoerror"
Peter

Am 6. November 2016 11:30:36 MEZ, schrieb Artosach <notifications@github.com>:

--
Sent from my mobile

[2016-11-12 13:02] Artosach commented on #16
Hi Peter,
I sat the CFLAGS as recommended. Unfortunately with no success, I still have exactly the same error.
Any other advice ?

[2016-12-07 18:51] levitte opened #17 "Make fails on Debian [sid]"
[code]

[2016-12-07 20:17] PeterHuewe commented on #17
Hi,
can you try to change the LDFLAGS to
-no-pie
    Don't produce a position independent executable.
?
https://gcc.gnu.org/onlinedocs/gcc/Link-Options.html

Seems that newer versions of GCC set this per default to true.
Peter

[2016-12-07 20:19] PeterHuewe commented on #16
Ah sorry
-Wno-error
should do it.
Peter

[2016-12-07 20:20] PeterHuewe commented on #14
@Aorimn @daytonpid  Anyone could test this yet?
Thanks,
Peter

[2016-12-07 20:20] PeterHuewe commented on #13
@aschmelter Can we close this?
Peter

[2016-12-07 20:21] PeterHuewe commented on #11
@Melab Any updates?

[2016-12-08 18:44] Aorimn commented on #14
@PeterHuewe Sorry but I don't have time to test it.

[2016-12-14 11:03] aschmelter commented on #13
Dear Peter,

I’m really sorry that I  respond so late on your mail. Some topics were changed, and I had no time to work with the tpm emulator.

Yes, we can close the ticket.

Kind Regards,
Andreas

Von: Peter Huewe [mailto:notifications@github.com]
Gesendet: Mittwoch, 7. Dezember 2016 21:21
An: PeterHuewe/tpm-emulator <tpm-emulator@noreply.github.com>
Cc: Andreas Schmelter <andreas.schmelter@hs-ow

[2016-12-14 11:21] PeterHuewe commented on #13
If you need additional help, please let me know.

[2016-12-14 11:21] #13 closed

[2016-12-15 14:18] PeterHuewe commented on #17
See also https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=841420 ...

[2016-12-15 14:26] PeterHuewe commented on #17
@levitte Can you please try this patch?
[fix-debian-sid.txt](https://github.com/PeterHuewe/tpm-emulator/files/654875/fix-debian-sid.txt)

[2016-12-15 14:54] PeterHuewe commented on #16
Sorry, I didn't read correctly.
You are trying to compile with clang... that's an important information.
I will have to fix a few things for this to work.

[2016-12-21 02:17] fidget324 opened #18 "Emulator fails when interacting with qemu tpm passthrough"
Hi,

I'm trying to use the TPM emulator with qemu, via the TPM passthrough. I use
[code]
to start the emulator daemon. Then I invoke
[code]
and the emulator daemon spits out the following error:
[code]
I'm on Ubuntu 16.04, and I've tried this on qemu 2.6 and 2.8 with the same result. This might be related to the thread [here](
https://sourceforge.net/p/tpmdd/mailman/tpmdd-devel/thread/201409112100

[2016-12-23 14:37] edwils0n opened #19 "Error compiling on Windows10"
Hi,

I'm trying to compile it on windows 10 (under a Parallels instance in macOS Sierra), and I getting this error:

[ 93%] Building C object tddl/CMakeFiles/tddl.dir/tddl.obj
In file included from C:\Users\menezeed\Downloads\tpm-emulator\tddl\tddl.c:34:0:
C:\Users\menezeed\Downloads\tpm-emulator\tddl\tddl_windows.h:30:15: error: conflicting types for 'DllMain'
 BOOL APIENTRY DllMain(HANDLE hModul

[2017-01-18 18:06] mbaushke opened #20 "Big Endian machines should define __BIG_ENDIAN__ or the sha1 code will fail"
By default, there is no code or compile options to put -D__BIG_ENDIAN__=1 into the build environment. As a result, the selftest for sha1 will fail. One way to do this would be via the following patch (tested under BSD):
`diff --git a/crypto/sha1.h b/crypto/sha1.h
index c94ed39..f7c6a7b 100644
--- a/crypto/sha1.h
+++ b/crypto/sha1.h
@@ -36,4 +36,21 @@ void tpm_sha1_update_be32(tpm_sha1_ctx_t *ctx,

[2017-01-26 15:36] quitschbo commented on #14
@PeterHuewe I tested the patch #15 You were right about the message size. But not only the recvmsg were broken but also the sendmsg. There also the in_size was set to 1 in the iov init.

However, there exist kernel_sendmsg() and kernel_recvmsg() function which allow a simpler and more stable code. See my pull-request #21

[2017-02-17 13:11] langbeck commented on #14
@PeterHuewe I tested patch #21 from @quitschbo and solved the build problem described by this issue.

[2017-02-18 02:06] Melab commented on #11
@PeterHuewe Well, now I am having trouble getting TrouSerS to connect to when I run `sudo /etc/init.d/trousers start`. But, that is on Ubuntu 16.04 and I am using Aorimn's patch.

[2017-02-19 01:19] theopolis commented on #18
Seeing the same thing, only 1 byte sent from the driver to `tpmd`.

[2017-03-07 13:30] janhieber commented on #18
I experience a different error with qemu 2.8.0.

I start qemu with:
[code]

and get this:
[code]

I have no */sys/class/misc/tpm/device* folder. Is this because it's not a physical device?
I wonder because you don't seem to have this error. Either you have the device folder or you have a different qemu version.

[2017-03-10 15:28] senioruos opened #22 "TPM-emulator,"
Hello,

Im trying to install the TPM emulator on my Raspberry Pi 3 from github using the 'clone or download' option, and i followed the commands:

mkdir build
cd build
cmake ../
make

when in the 'make' command it gives the following error:

"Scanning dependencies of target tpmd_dev
[ 96%] Generating linux/tpmd_dev.ko
make[4]: *** /lib/modules/4.4.38-v7+/build: No such file or directory.  Stop.
Ma

[2017-03-13 09:31] golubevmikhail commented on #22
Hi senioruos,
You should cross-compile it against your current running kernel. Start with build.sh. I have the following build script for TI board:
#!/bin/sh

BUILD_DIR="build"

if [ "$1" = "clean" ]; then
  rm -rf $BUILD_DIR
fi

if [ ! -d $BUILD_DIR ]; then
  mkdir $BUILD_DIR || exit 1
fi

TI_SDK_PATH="/home/mike/ti-sdk"
LINUX_DEVKIT_PATH="${TI_SDK_PATH}/linux-devkit"
SYSROOT="${LINUX_DEVKIT_PATH

[2017-03-15 14:00] golubevmikhail commented on #22
@senioruos I also have one more modification:

[code]

[2017-03-15 14:17] senioruos commented on #22
@golubevmikhail can you please tell me where to include this modification?

Thanks a lot !

[2017-03-15 15:03] golubevmikhail commented on #22
@senioruos one patch to roll 'em all.
`$ git clone https://github.com/PeterHuewe/tpm-emulator.git`
`$ cp cross_compile.patch tpm-emulator/`
`$ cd tpm-emulator/`
`$ git apply cross_compile.patch`
`(modify build_cross.sh according to your environment)`
`$ ./build_cross.sh`

Here is cross_compile.patch:
[code]

[2017-03-15 21:29] senioruos commented on #22
@PeterHuewe Can you please help me solve the issue?
Thanks alot

[2017-03-15 21:31] senioruos commented on #22
@golubevmikhail

I am a beginner to this, so what I understood I should do is either add (+) or remove (-) the lines of code in CMakeList.text and update the build.sh file based on your very first reply?

is it that whats needed? If yes, I did that and yet I face same issue..

[2017-03-15 21:35] PeterHuewe commented on #22
He is not cross compiling.
Please just install your kernel headers and sources via apt.
Peter
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit GMX Mail gesendet.Am 15.03.17, 22:31, senioruos <notifications@github.com> schrieb:
@golubevmikhail
I am a beginner to this, so what I understood I should do is either add (+) or remove (-) the lines of code in CMakeList.text and update the buil

[2017-03-15 21:55] PeterHuewe commented on #22
See
https://github.com/raspberrypi/firmware/issues/63

--
Sent from my mobile

[2017-03-15 22:29] senioruos commented on #22
@PeterHuewe Thanks!

[2017-05-31 13:34] kettyjun opened #23 "tpm-emulator make on ubuntu14.04"
Hello,everyone!
When I make tpm emulator on Ubuntu 14.04， it return with some errors:
[code]
I had follow [https://github.com/PeterHuewe/tpm-emulator/issues/7#issuecomment-227621114](url), insert
[code]
But when I make it again, what I had inserted was missing, all back to the original.

[PeterHuewe: edited your post to have proper formatting]

[2017-06-19 06:51] deitch commented on #16
Hi @PeterHuewe, is there a workaround for this?

[2017-06-19 07:54] deitch commented on #16
FYI, I did get it to build by running `cmake` manually in `build/` with:

[code]

[2017-06-19 08:12] deitch commented on #16
Hmm, cannot install the `kext` on Mac:

[code]

Some special flag to build on Darwin?

[2017-06-19 08:21] deitch commented on #16
Hmm, no the problem is earlier:

[code]

[2017-06-19 08:22] deitch commented on #16
Of course, we might not be able to load a `kext` anyways because of kext-signing in latest version of macOS.

[2017-06-19 08:28] deitch commented on #16
Fun:

[code]

[2017-06-21 15:17] xrayn opened #24 "TPM deactivated on recent kernels > 4.2 tested"
Hi, I tested the TPM emulator on three different machines with kernel version.
Machine 1:
4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u1 (2017-06-18) x86_64 GNU/Linux

Here the proposed patch from https://github.com/PeterHuewe/tpm-emulator/pull/21 was used to successfully compile the code.
Here, the TPM gets deactivated during the startup of a virtual machine. Using:

[code]
Version: QEMU emulator ve

[2017-06-24 07:24] lanzhuzhu commented on #13
how to solve the SSL problem? is there any solution? I met the same problem.

[2017-06-25 11:41] PeterHuewe commented on #13
@lanzhuzhu
the message is related to the signing process of the linux kernel, since module signing is enabled by default in ubuntu.

It's not that trivial to explain here, so unfortunately you have to google a bit on "ubuntu module signing" .
You can find a lot of similar questions if you search for "sign-file: certs/signing_key.pem: No such file or directory"

So this is unrelated to the tpm-emul

[2017-06-25 11:46] PeterHuewe commented on #24
@xrayn Hi - sorry I don't get the question/problem
Can you elaborate a bit more on what you are trying to do and what fails?
Can you re-active / re-enable the TPM?

Peter

[2017-06-25 11:49] PeterHuewe commented on #23
@kettyjun can you simply tryout the patch from
https://github.com/PeterHuewe/tpm-emulator/pull/21 ?
Peter

[2017-06-25 11:52] PeterHuewe commented on #22
@senioruos  can we close this?

[2017-06-25 11:58] PeterHuewe opened #25 "trigger oops"
Reported by @theopolis in #21

On a Ubuntu 4.8.0 kernel:
[code]

Seems I can trigger with:
[code]

And `0x80 0x01 0x00 0x00 0x00 0x0a 0x00 0x00 0x01 0x81`

[2017-06-25 12:00] PeterHuewe commented on #19
Not really since I've never built it on any Windows Platform  patches welcome :)

[2017-06-25 12:01] PeterHuewe commented on #17
@levitte Any updates?

[2017-06-25 12:02] PeterHuewe commented on #14
Okay, I think we can close this one :) thanks @langbeck  @quitschbo

[2017-06-25 12:02] #14 closed

[2017-06-25 12:04] PeterHuewe commented on #16
@deitch  Hmm, any updates or ideas? Unfortunately I don't have a mac machine to test.

[2017-06-25 12:31] deitch commented on #16
I am afraid not. I got it to compile (now not succeeding), but there is a lot here on the kernel extension that I don't get. I get wary about loading kexts anyways, but I did try. Would be great to have it outside of the kernel.

[2017-06-25 13:49] deitch commented on #16
Hmm, you know... I could just run the `tpmd` software-only emulator in a Linux VM (e.g. docker for Mac) and then use either the go-tpm bindings or tcsd to talk directly to it, could I not? That probably would work.

[2017-06-25 14:38] xrayn commented on #24
@PeterHuewe Hi Peter, sure I can elaborate. I simply want to use the TPM emulator on a Debian 9.0 system and forward the TPM to a qemu instance. After overcoming the compilation issues, by applying the mentioned patch, for some reason the TPM is decativated during start of qemu.

```tpm_cmd_handler.c:4077: Info: TPM command failed: (0x26) The command was received in the wrong sequence relative to

[2017-06-25 14:58] PeterHuewe commented on #24
Hi
```tpm_cmd_handler.c:4077: Info: TPM command failed: (0x26) The command was received in the wrong sequence relative to TPM_Init and a subsequent TPM_Startup....```
means that the device already has received a startup (not that it's deactivated) - nothing I would worry about.
Can you re-active / re-enable the TPM?

Do you think you can tryout the "old" code on an "old kernel"?
Thanks,
Peter

[2017-06-25 15:14] luigino opened #26 "Build fails with gcc7"
No problem with gcc6 instead. See attached log snippet.
[tpm_emulator_gcc7.txt](https://github.com/PeterHuewe/tpm-emulator/files/1100399/tpm_emulator_gcc7.txt)

[2017-06-25 15:20] xrayn commented on #24
Hi, so I tried to re-activate/re-enable with the corresponding commands multiple times. So basically tpmd decativated / clear ... But it did not make any change.

Indeed, the TPM device is availabel inside the VM, however, only certain command can be executed. E.g. tpm_version works, but tpm_takeownership fails (says TPM is deactivated).

Now I'm a little confused. What do you mean with "old code"

[2017-06-25 21:48] theopolis commented on #25
Thanks @PeterHuewe, sorry for the noise, your API change is working on my 4.8 now. It's been a while since the original test and this retest so I cannot root-cause what caused the crash before.

[2017-06-25 21:48] theopolis commented on #25
Feel free to close this issue.

[2017-06-25 21:51] PeterHuewe commented on #25
Thanks @theopolis for re-testing this!

[2017-06-25 21:51] #25 closed

[2017-06-25 22:19] PeterHuewe commented on #26
that code looks unusual, yes.
To get it compiling you can of course -Wno-implicit-fallthrough but of course that does not solve the underlying rootcause - which is indeed a bug.

According to https://www.trustedcomputinggroup.org/wp-content/uploads/Revision_7.02-_29April2010-tcg-mobile-trusted-module-1.0.pdf it should return  "0x0000 0002 MTM_PERMANENT_DATA->verifiedPCRs" which in any case it does

[2017-06-25 22:28] PeterHuewe commented on #24
Interesting that there seems to be a difference between 4.2 and 3.19.
Can you perhaps also try 4.0 and 4.1?
Always same qemu version?

Thanks,
Peter

[2017-06-25 22:29] PeterHuewe commented on #18
@janhieber  can you retry with latest master please?

[2017-06-26 06:40] luigino commented on #26
We aren't there yet, see additional attachments.
[tpm_emulator-gcc7_2.txt](https://github.com/PeterHuewe/tpm-emulator/files/1101190/tpm_emulator-gcc7_2.txt)
[tpm_emulator-gcc7_3.txt](https://github.com/PeterHuewe/tpm-emulator/files/1101191/tpm_emulator-gcc7_3.txt)

[2017-06-26 11:33] xrayn commented on #24
So, I did some testing. As it turns out, neither the kernel nor OpenSSL caused the issue.

The problem which is causing that the tpm gets deactivated, is due to a qemu bios image update introduced in 2.6 release (https://github.com/qemu/qemu/tree/stable-2.6).
If qemu, no matter which version after 2.4, is launched with the stable-2.6 bios (https://github.com/qemu/qemu/blob/stable-2.6/pc-bios/bios.

[2017-06-27 21:37] PeterHuewe commented on #24
Thanks for digging into this.
Should we raise this with qemu?

[2017-06-27 21:58] xrayn commented on #24
Not sure, I have also a system that forwards a hardware TPM to qemu. This works fine with the both qemu  versions, i.e. stable-2.5 and stable-2.6. Unfortunately I could not find any indication what actually changed between both versions. Still, ignoring the error results in a working emulator, so maybe accepting the different initialization steps is also a viable option.

[2017-08-15 13:42] WeiqiChenCN commented on #18
Hey, I am trying to install a Windows 10 in a qemu.
(
  Why I doing this is because I try to install windows 10 with bitlocker encryption with TPM.
  I want to test first in a virtual machine before doing it in my Surface Pro 4
)

Here is my run.bat file content
[code]

Here is my tpmd commands output:

[code]
Here is how i ran the qemu-system

[code]

[2017-08-15 15:09] janhieber commented on #18
Please use /dev/null as cancel path when your driver does not supply one. AFAIk this should work.

[2018-03-20 20:58] george321 opened #29 "Permission Denied using examples for TPM/J"
I am trying your Usage Examples for TPM/J
and when i run java edu.mit.csail.tpmj.tools.TPMInfo
i get this:
`gmitaros@ubuntu:~/tpm/tpmj/lib$ java edu.mit.csail.tpmj.tools.TPMInfo
BasicTPMDriver: TPMIOException encountered. (edu.mit.csail.tpmj.TPMIOException: java.io.FileNotFoundException: /dev/tpm0 (Permission denied))
Waiting 2.0 s, then retrying ...
^Cgmitaros@ubuntu:~/tpm/tpmj/lib$
`

i runned a

[2018-04-25 23:34] tpmuser99 opened #31 "TPM make install on Ubuntu 16.04 Server (VBClient)"
Have what appears to be an almost perfect build, minus the install errors
which I cant seem to find any reference or pointers to within the build
itself.   Please see attached file.  Apologies for not including the text here as its
running in a VM and ... and ....

![screen shot 2018-04-25 at 4 53 44 pm](https://user-images.githubusercontent.com/38739567/39278080-6d8ad13c-48ae-11e8-81f2-8e3851cf29

[2018-06-30 01:57] ENZOLU opened #33 "Windows does not recognize the emulated TPM"
I installed it using MinGW and all the stuff. When I ran the tpmd_start command, it all looked good. Same with the status command. However, Windows says that there is no TPM in the PC! I tried in Windows 10 and Windows 7, however, none of these operating systems worked. Could anyone help me?

[2018-07-11 12:30] saifuddin123 commented on #22
Hi Peter,
I am seeing the same issue on raspberrypi 3 armhf. I am not an expert in this area so want to make sure if i am doing right as per your reference above raspberrypi/firmware#63. Are below the series of commands i need to execute?

# git clone --depth=1 git://github.com/raspberrypi/linux.git rpi-linux
# git checkout rpi-3.18.y
# make bcmrpi_defconfig
# make prepare headers_install
# git pu

[2018-07-26 08:05] iscaszmh opened #34 "When I execute "make install" in Ubuntu 16.04, I am prompted with an "SSL error""
At main.c:160:
- SSL error:02001002:system library:fopen:No such file or directory: bss_file.c:175
- SSL error:2006D080:BIO routines:BIO_new_file:no such file: bss_file.c:178
sign-file: certs/signing_key.pem: No such file or directory
-- Up-to-date: /usr/local/bin/tpmd

[2018-08-21 09:07] dhimanchakraborty opened #35 "Does the emulator follows TPM 2.0 specification"
Hello,

Does this TPM emulator follow TPM 2.0 specification?

[2018-08-21 09:27] PeterHuewe commented on #35
No.
It is tpm 1.2 only and not really actively maintained anymore.

There is a nice tpm2.0 simulator by tcg / microsoft and extended by ibm.

Peter
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit GMX Mail gesendet.Am 21.08.18, 11:07, Dhiman Chakraborty <notifications@github.com> schrieb:
Hello,
Does this TPM emulator follow TPM 2.0 specification?

—You are receiving this because you a

[2018-09-11 14:20] alonbl opened #38 "/usr/include/tddl.h /usr/lib*/libtddl* conflict with trousers package"
Hello,

Both packages tpm-emulator and trousers cannot be installed on the same system because of file collision[1]. Can you please consider renaming the tddl to tpm-emulator-tddl or anything unique so that no collision will exist?

I can do this if you agree and specify desired name.

Thanks,
Alon

[1] https://bugs.gentoo.org/show_bug.cgi?id=537544

[2018-09-15 20:30] PeterHuewe commented on #38
Hi,
thanks for noticing.
I would suggest appending tpm-emulator.
so
tddl-tpm-emulator.h
and
/usr/lib/libtddl-tpm-emulator.a

If you can prepare the patch, it would be appreciated.

[2018-09-15 20:32] alonbl commented on #38
am on it

On Sat, Sep 15, 2018 at 11:30 PM Peter Huewe <notifications@github.com>
wrote:

[2018-09-15 20:36] PeterHuewe commented on #34
This is because ubuntu 16.04 and up use signed kernel modules.
I would have to create a dkms package to be included in ubuntu.
Otherwise not much I can do - since the signing key is not available to me (as it would defeat the whole purpose of having signed modules).

[2018-09-15 20:36] PeterHuewe commented on #31
This is because ubuntu 16.04 and up use signed kernel modules.
I would have to create a dkms package to be included in ubuntu.
Otherwise not much I can do - since the signing key is not available to me (as it would defeat the whole purpose of having signed modules).

[2018-09-15 20:45] alonbl commented on #38
ready at #40

[2018-09-15 21:32] #38 closed

[2018-09-16 08:54] luigino opened #41 "strncpy bounds warning with GCC8"
[See here.](https://github.com/PeterHuewe/tpm-emulator/files/2386427/tpm_emulator-strncpy-gcc8.txt)

[2018-09-16 09:20] lgbaldoni opened #42 "Missing call to setgroups before setuid"
Another warning from rpmlint I thought of sharing:
[code]

[2018-09-16 09:29] luigino commented on #26
Problem appears to have been fixed in 0.7.5.

[2018-09-16 09:29] #26 closed

[2018-09-16 10:54] PeterHuewe commented on #41
Fixed in #43 - thanks for reporting..

[2018-09-16 10:54] #41 closed

[2018-09-16 10:56] PeterHuewe commented on #42
Hi,
thanks for reporting - can you provide a patch?
That would be great.

[2018-09-16 11:36] luigino commented on #42
I've had a look at it, but unfortunately I'm not confident enough to meddle with security matters.

[2018-12-12 23:35] PeterHuewe commented on #34
It's more or less a "wontfix" so I close it for now.
Nothing I can do.

[2018-12-12 23:35] #34 closed

[2018-12-12 23:36] PeterHuewe commented on #34
Duplicate of #31

[2018-12-12 23:37] PeterHuewe commented on #31
Nothing I can do - won't fix.
So I close this for now.

[2018-12-12 23:37] #31 closed

[2018-12-12 23:39] PeterHuewe commented on #16
@shearl  Do you have ideas? I have no mac to test.

[2018-12-12 23:40] PeterHuewe commented on #11
@Melab what is the status on this? can we close it?

[2018-12-12 23:41] PeterHuewe commented on #17
@levitte  I will close this as there was no update/response for 2 years.
Feel free to open a new issue if needed.

[2018-12-12 23:41] #17 closed

[2018-12-12 23:43] PeterHuewe commented on #18
Any updates?  does this work on recent master? can we close this?

[2018-12-12 23:44] PeterHuewe commented on #19
@edwils0n  any updates? did you manage to fix this?

[2018-12-12 23:45] PeterHuewe commented on #24
@xrayn Is there any update on this? Is this fixed with newer qemu versions?

[2018-12-12 23:46] PeterHuewe commented on #20
Maybe you can create a patch/pull-request?
That would be great.
I don't have any big endian platforms to test (which one are you using?)

[2018-12-12 23:49] PeterHuewe commented on #22
I close this for now as it seems solved.
Feel free to open a new issue if needed.

[2018-12-12 23:49] #22 closed

[2018-12-12 23:50] PeterHuewe commented on #23
This should be fixed with latest master. Closing it.
If the Problem still persists please comment and I will reopen it.

[2018-12-12 23:50] #23 closed

[2018-12-12 23:52] PeterHuewe commented on #29
Maybe try either to set a simple chmod 777 on the device or run your examples with sudo.
It's not perfect security, but we are talking about a tpm "emulator" anyway.

[2018-12-12 23:52] #29 closed

[2018-12-12 23:53] PeterHuewe commented on #33
I never ran it on a Windows PC so I'm not sure whether it would ever work that way.

[2018-12-13 00:33] shearl commented on #16
@PeterHuewe I just tried re-building with clang and was able to build successfully (in spite of a few warnings). I am using a MacBook Pro (13-inch, 2018, Four Thunderbolt 3 Ports) running macOS High Sierra Version 10.13.6 (17G2307).

BTW, Installing the kext is a major hassle. I was only able to do it by booting into recovery mode and ignoring warnings about grave consequences.

    $ export CC=/u

[2018-12-13 11:46] xrayn commented on #24
@PeterHuewe Actually I did not follow up on this matter. :) If I find some time, I will have a look though.

[2019-01-23 04:45] saifuddin123 commented on #22
sorry, i didn't had a chance to work on this. I was actually confirming on the steps, if that's the sequence to be executed.

[2019-03-29 13:18] sfhacker commented on #19
Ciao.
Is this project still 'alive'?
We have just built the TPM Emulator on Windows 10 and it works fine.

Let us know whether or not you need some assistance.

[2019-03-30 14:09] sfhacker commented on #33
@PeterHuewe Even though we don't use Windows, we don't compile for/on Windows, we can help anyway, can't we?

Not clear we refer to SW TPM or HW TPM. On Windows 10, you can have a look at this MMC:

![TPM-Windows-10](https://user-images.githubusercontent.com/25817529/55277077-c0a68f00-52da-11e9-9267-74ab92146251.png)

Then, you type: 'getcapability.exe -v -cap 0' and get the following output:

...

[2019-04-10 22:29] sfhacker commented on #19
@edwils0n Any update/news on this issue?

![image](https://user-images.githubusercontent.com/25817529/55917739-debb9b80-5bc6-11e9-9849-802e1e8889bd.png)

![image](https://user-images.githubusercontent.com/25817529/55917750-e8450380-5bc6-11e9-9b85-964e1a63c067.png)

[2019-04-10 22:35] sfhacker commented on #33
@ENZOLU Any news/update on this issue? Please, try English as much as you can!

![image](https://user-images.githubusercontent.com/25817529/55917818-27735480-5bc7-11e9-9e05-5e19863cf2b6.png)

                           IBM TSS Get Capabilities (via TBSI on Windows 10)

[2019-06-15 04:50] yangx-jy opened #45 "tpm-emulator was corrupted since commit 88393fa"
tpm-emulator was corrupted since commit 88393fa so that tpmtoken_setpassd reports "C_SetPIN failed: 0x00000006 (6)" when trying to change user or security officer password.  Please see the detailed output:
---------------------------------------------------------------------------------------------
 tpmtoken_setpasswd
Enter your TPM user password:
A new TPM user password is needed. The password mu

[2020-01-28 11:02] celevra opened #46 "make fails tddl.h no such file or directory"
[code]

[2020-01-28 11:10] celevra commented on #46
after removing the include in tddl_windows.h it compiles fine but got other errors:

[code]

[2020-02-11 10:58] Varsha-a opened #47 "TPM Emulator cmake fails"
Hi ,

I want to Cross Compile and setup TPM emulator for Clearfog A388, Could some one please help me in this.
When I run cmake ../  -- Detecting C compiler ABI info - failed

................................................................................................................................................................
Workstation:~/tpm-emulator-master/build$ cmake ../
-- The C com

[2020-04-03 15:22] LowriJenkins commented on #2
I don't know if this project is still being actively maintained, but I thought id say just in case it is, that I've been running into either this issue or an extremely similar one that is also fixed by running export ARCH=x86 before running make.

[2020-06-18 15:47] jandryuk opened #48 "tpm_setup_rsp_auth needs fall-thru not break"
I wrote this as a comment here https://github.com/PeterHuewe/tpm-emulator/commit/88393faba7276df7df77a85f12d8908c33158aa4#r40001028, but figured I should open an actual issue.

https://github.com/PeterHuewe/tpm-emulator/commit/88393faba7276df7df77a85f12d8908c33158aa4 added a break to quiet an implicit-fallthrough warning.  I think this is actually a desired fall though since auth1 is expected to b

[2021-07-23 08:45] Deadpoolmine opened #51 "Ecryptfs on TPM emulator"
Hello, dear sir.
I'm struggling on the **tpm** and **ecryptfs** for a long time.  I can emulate the tpm device successfully with the follow command:
[code]
then, I generate my srk with the following command:
[code]
After that, I can create my **TPM key**
[code]
Then I mount `encrypt` file with the following command:
[code]
Everything is fine here, I can normally echo content into encrypt/file like

[2021-07-24 08:45] hooddy commented on #33
Yep it doesn't detected by tpm.msc

[2021-09-09 11:59] Justin-Otto commented on #46
This seems Windows-specific problem now resolved by: https://github.com/PeterHuewe/tpm-emulator/pull/53

[2021-10-18 16:55] Nityanand1704 opened #54 "Please provide a video guide"

[2021-10-18 16:55] Nityanand1704 commented on #54
I want a video guide for all the steps. Please

[2022-02-06 13:12] coolrecep opened #55 "TPM 2.0 Support?"
Any way you can add TPM 2.0 support to the emulator?

[2022-02-06 13:29] PeterHuewe commented on #55
hi,
tldr: no

tpm1.2 and 2.0 are way different. This project is here for historical reasons only.

in case you are looking for a simulator which can speak both, please use swtpm by stefan berger.
for a pure tpm2.0 simulator ibm and microsoft both provide one.
you can find more details at tpm2-software/tpm2-tss.
peter

[2022-02-06 13:29] #55 closed, assigned to nobody

[2022-04-04 11:26] Lishuoyy opened #56 "expected declaration specifiers or ‘...’ before string constant"
error: expected declaration specifiers or ‘...’ before string constant
   33 | #define TPM_DEVICE_ID     "tpm"
      |                           ^~~~~
I hope someone can answer for me, thanks!

[2022-05-18 13:08] fanrong1992 commented on #56
Comment line 54 in tpmd_dev.c works for me.
tpmd_dev/linux/tpmd_dev.c:
[code]